<section class="about-section text-center py-5 " id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class=" text-warning mb-4">Home Meals</h1>
                <img src="https://images.click.in/classifieds/images/151/20650917_10_12_2016_17_01_29_2014338235_kl7ajffibj.png" alt="">
                
                   <h3><b>About Us :</b></h3>
                    <p id="pg1">Since 2018, we have been delivering the home waali feeling to your doorstep, Our offerings include everything from a wholesome breakfast to hearty lunches, each bringing you the homestyle comfort you deserve.
                        homely’s meals are flavorful, familiar, and reassuring. Carefully packed with the freshness and nutrition of locally sourced fresh ingredients.
                       <br> 


                   </p>
                   <p id="pg2"><b>We aim to create and serve each meal with lots of love so that you know, wherever you are, you can feel closer to home.</b></p>
                
            </div>
        </div>
        <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/4df1ee33482977.56acb21f80216.jpg" alt="..." />
    </div>
</section>