<!-- contact -->
<section class="contact-section bg-transparent m-5 py-5">
    <div class="container px-4 px-lg-5 " >
        <div class="row gx-4 gx-lg-5 p-5 mt-5">
            <img width="200px" height="400px" src="https://img.freepik.com/premium-photo/man-touching-contact-symbols-internet-communication_220873-3864.jpg" alt="">
            <div class="col-md-4 mb-3 mb-md-0 mt-5">
                <div class="card py-4 h-100 mt-5">
                    <div class="card-body text-center ">
                        <i class="fas fa-map-marked-alt text-primary mb-2 mt-5"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">4923 Market Street, Kottayam</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 mt-5">
                <div class="card py-4 h-100 mt-5">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2 mt-5"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">homemeals@yourdomain.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 mt-5">
                <div class="card py-4 h-100 mt-5">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2 mt-5"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+91 902-8832-856</div>
                    </div>
                </div>
            </div>
        </div>
<div class="social d-flex justify-content-center p-5">
    <a class="mx-2" routerLink="#!"><i class="fab fa-twitter"></i></a>
    <a class="mx-2" routerLink="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="mx-2" routerLink="#!"><i class="fab fa-instagram"></i></a>
</div>
</div>
</section>